.center {
  text-align: center;
  border: 2px solid black;
}
.ncenter {
  text-align: center;
}
.buttonparent {
  position: relative;
}
.buttonchild {
  position: absolute;
  top: 0px;
  right: 0px;
}
