.table-style {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.ncenter {
  text-align: center;
  column-gap: 80px;
  margin: auto;
  width: 60%;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}
.weekdays {
  padding: 10px;
  background: #4d4d4d;
  width: 480px;
}
.weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  color: white;
}

.days {
  padding: 10px 0;
  background: white;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
  margin-bottom: 8px;
  font-size: 12px;
  padding: 15px;
}
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}
.form-style-8 input[type="text"],
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: Arial, Helvetica, sans-serif;
}

.form-style-8 {
  font-family: "Open Sans Condensed", arial, sans;
  width: 500px;
  padding: 30px;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
